body {
  background-color: #add8e6;
}

.input-group {
  top: 50px;
}

.col-md-8.col-md-offset-2 {
  position: relative;
  top: 35px;
}

#button-container {
  float: left;
  position: relative;
  left: 10px;
  top: 50px;
  z-index: 99;
}

#cancel-appt {
  display: none;
}

#appt-form-container {
  display: none;
  position: relative;
  top: 60px;
}

#appt-search {
  position: relative;
  top: 100px;
}

#appt-table-container {
  position: relative;
  top: 175px;
}
