<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'appointments/css/style.css' %}" />
    <title>Appointment Manager</title>
    <link rel="icon" href="{% static 'appointments/images/appointment.jpg' %}">
  </head>
  <body>
    <div class="container" id="main-container">
      <div class="container" id="button-container">
        <div class="btn">
          <button type="button" class="btn btn-lg btn-success" id="new-appt">NEW</button>
        </div>
        <div class="btn">
          <button type="button" class="btn-lg btn-danger" id="cancel-appt">CANCEL</button>
        </div>
      </div>

      <div class="container" id="appt-form-container">
        <form role="form" action="" method="post" id="appt-form">
          {% csrf_token %}
          <div class="col-md-8 col-md-offset-2">
            <label for="appt-date-input">Date</label>
            <input class="form-control" type="date" name="appt_date" value="" id="appt-date-input">
          </div>
          <div class="col-md-8 col-md-offset-2">
            <label for="appt-time-input">Time</label>
            <input class="form-control" type="time" name="appt_time" value="" id="appt-time-input">
          </div>
          <div class="col-md-8 col-md-offset-2">
            <label for="appt-description-input">Description</label>
            <input class="form-control" type="search" name="appt_description" placeholder="Add Description Here" id="appt-description-input">
          </div>
        </form>
      </div>
      <div class="form-group row">
        <div class="col-md-8 col-md-offset-2" id="appt-search">
          <div class="input-group">
            <input type="text" class="form-control" id="appt-search-input">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button" id="appt-search-btn">SEARCH</button>
            </span>
          </div>
        </div>
      </div>

        <div class="container" id="appt-table-container">
          <div class="col-md-8 col-md-offset-2">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody id="appt-table-items"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'appointments/js/main.js' %}"></script>
  </body>
</html>
