body {
  background-color: #add8e6;
}

.container {
  position: fixed;
  top: 50px;
  left: 50px;
}

.btn-lg.btn-danger {
  position: fixed;
  left: 140px;
  top: 50px;
}

.btn-lg.btn-success {
  float: left;
}

.input-group {
  position: relative;
  top: -25px;
}

.col-md-8.col-md-offset-2 {
  position: relative;
  top: 35px;
}

#appt-form-container {
  display: none;
  position: fixed;
  top: 95px;
}
