<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'appointments/css/style.css' %}" />
    <title>Appointment Manager</title>
    <link rel="icon" href="{% static 'appointments/images/appointment.jpg' %}">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <button type="button" class="btn btn-lg btn-success" id="new-appt">NEW</button>
        <div class="col-md-8 col-md-offset-2">
           <div class="input-group">
              <input type="text" class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">SEARCH</button>
              </span>
           </div>
        </div>

        <div class="container" id="appt-form-container">
          <form role="form" action="" method="post" id="appt-form">
            {% csrf_token %}
            <div class="row">
              <span class="input-group-btn">
                <button type="button" class="btn-lg btn-danger" id="cancel-appt">CANCEL</button>
              </span>
            </div>
            <div class="form-group row">
              <div class="col-md-8 col-md-offset-2">
                <label for="appt-date-input">Date</label>
                <input class="form-control" type="date" name="appt_date" value="" id="appt-date-input">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-8 col-md-offset-2">
                <label for="appt-time-input">Time</label>
                <input class="form-control" type="time" name="appt_time" value="" id="appt-time-input">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-8 col-md-offset-2">
                <label for="appt-description-input">Description</label>
                <input class="form-control" type="search" name="appt_description" placeholder="Add Description Here" id="appt-description-input">
              </div>
            </div>
          </form>
        </div>

        <div class="container" id="table">
          <div class="col-md-8 col-md-offset-2">
            {% if latest_appointment_list %}
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                  {% for appointment in latest_appointment_list %}
                    <td>{{ appointment.date }}</td>
                    <td>{{ appointment.time }}</td>
                    <td>{{ appointment.description }}</td>
                  {% endfor %}
                  </tr>
                </tbody>
            </table>
            {% else %}
              <table class"table table-striped" style="display:none">
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'appointments/js/main.js' %}"></script>
  </body>
</html>
